<nav class="sidebar">
  <div class="sidebar__logo">
    <span class="sidebar__logo-icon">📋</span>
    <span class="sidebar__logo-text">Changelog</span>
  </div>

  <ul class="sidebar__nav">
    @for (item of navItems; track item.path) {
      <li>
        <a
          class="sidebar__link"
          [routerLink]="item.path"
          routerLinkActive="sidebar__link--active"
        >
          <span class="sidebar__link-icon">{{ item.icon }}</span>
          <span>{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
